Task 1: Demonstrate POS Tagging on any news article
---

In [ ]:
import pandas as pd

train = pd.read_csv('news-topic-classification/BBC News Train.csv')
train.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [ ]:
import nltk

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('tagsets')
nltk.download('brown')
nltk.download('universal_tagset')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package tagsets to /root/nltk_data...
[nltk_data]   Unzipping help/tagsets.zip.
[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.
[nltk_data] Downloading package universal_tagset to /root/nltk_data...
[nltk_data]   Unzipping taggers/universal_tagset.zip.

True

In [ ]:
import nltk
from nltk.tag import pos_tag, map_tag

def adjective(row):
  text = nltk.word_tokenize(row)
  posTagged = pos_tag(text)
  simplifiedTags = [(word, map_tag('en-ptb', 'universal', tag)) for word, tag in posTagged]
  
  adj = []
  for x in simplifiedTags:
    if x[1] == 'ADJ':
      adj.append(x[0])

  return adj

def article(row):
  text = nltk.word_tokenize(row)
  posTagged = pos_tag(text)
  simplifiedTags = [(word, map_tag('en-ptb', 'universal', tag)) for word, tag in posTagged]
  
  det = []
  for x in simplifiedTags:
    if x[1] == 'DET':
      det.append(x[0])

  return det

def conjuction(row):
  text = nltk.word_tokenize(row)
  posTagged = pos_tag(text)
  simplifiedTags = [(word, map_tag('en-ptb', 'universal', tag)) for word, tag in posTagged]
  
  conj = []
  for x in simplifiedTags:
    if x[1] == 'CONJ':
      conj.append(x[0])

  return conj

def noun(row):
  text = nltk.word_tokenize(row)
  posTagged = pos_tag(text)
  simplifiedTags = [(word, map_tag('en-ptb', 'universal', tag)) for word, tag in posTagged]
  
  nn = []
  for x in simplifiedTags:
    if x[1] == 'NOUN':
      nn.append(x[0])

  return nn

def preposition(row):
  text = nltk.word_tokenize(row)
  posTagged = pos_tag(text)
  simplifiedTags = [(word, map_tag('en-ptb', 'universal', tag)) for word, tag in posTagged]
  
  pre = []
  for x in simplifiedTags:
    if x[1] == 'ADP':
      pre.append(x[0])

  return pre

def pronoun(row):
  text = nltk.word_tokenize(row)
  posTagged = pos_tag(text)
  simplifiedTags = [(word, map_tag('en-ptb', 'universal', tag)) for word, tag in posTagged]
  
  pron = []
  for x in simplifiedTags:
    if x[1] == 'PRON':
      pron.append(x[0])

  return pron

def verb(row):
  text = nltk.word_tokenize(row)
  posTagged = pos_tag(text)
  simplifiedTags = [(word, map_tag('en-ptb', 'universal', tag)) for word, tag in posTagged]
  
  vrb = []
  for x in simplifiedTags:
    if x[1] == 'VERB':
      vrb.append(x[0])

  return vrb

def adverb(row):
  text = nltk.word_tokenize(row)
  posTagged = pos_tag(text)
  simplifiedTags = [(word, map_tag('en-ptb', 'universal', tag)) for word, tag in posTagged]
  
  adv = []
  for x in simplifiedTags:
    if x[1] == 'ADV':
      adv.append(x[0])

  return adv

def count(df):
  adjective = len(df['adjective'])
  article = len(df['article'])
  conjuction = len(df['conjuction'])
  noun = len(df['noun'])
  preposition = len(df['preposition'])
  pronoun = len(df['pronoun'])
  verb = len(df['verb'])
  adverb = len(df['adverb'])

  return 'adjective : {0}, article: {1}, conjuction: {2}, noun: {3}, preposition: {4}, pronoun: {5}, adverb : {6}, verb : {7}'.format(adjective, article, conjuction, noun, preposition, pronoun, adverb, verb)

In [ ]:
train['adjective'] = train['Text'].map(lambda x: adjective(x))
train.head()

   ArticleId  ...                                          adjective
0       1833  ...  [worldcom, ex-boss, former, first, cooper, int...
1        154  ...  [german, slides, german, february, speedy, lar...
2       1101  ...  [economic, bbc, most, national, worse, own, fi...
3       1976  ...  [lifestyle, mobile, funkier, more, more, own, ...
4        917  ...  [eighteen, former, former, own, next, seventh,...

[5 rows x 4 columns]

In [ ]:
train['article'] = train['Text'].map(lambda x: article(x))
train.head()

   ArticleId  ...                                            article
0       1833  ...  [a, a, the, the, the, the, an, a, a, a, the, t...
1        154  ...  [a, the, the, the, a, the, such, a, the, the, ...
2       1101  ...  [a, a, the, a, the, the, which, the, the, a, t...
3       1976  ...  [the, the, an, the, there, these, the, the, th...
4        917  ...  [a, a, the, the, the, the, the, the, the, the,...

[5 rows x 5 columns]

In [ ]:
train['conjuction'] = train['Text'].map(lambda x: conjuction(x))
train.head()

   ArticleId  ...                                         conjuction
0       1833  ...                     [and, and, but, and, and, and]
1        154  ...  [both, and, and, and, and, but, and, and, and,...
2       1101  ...  [but, or, and, but, and, and, and, and, but, a...
3       1976  ...  [or, or, and, and, and, and, but, and, and, an...
4        917  ...        [enron, and, and, neither, enron, and, and]

[5 rows x 6 columns]

In [ ]:
train['noun'] = train['Text'].map(lambda x: noun(x))
train.head()

   ArticleId  ...                                               noun
0       1833  ...  [launches, defence, lawyers, worldcom, chief, ...
1        154  ...  [business, confidence, business, confidence, h...
2       1101  ...  [bbc, poll, gloom, citizens, majority, nations...
3       1976  ...  [governs, choice, hardware, phone, firms, hand...
4        917  ...  [enron, bosses, payout, enron, directors, £89m...

[5 rows x 7 columns]

In [ ]:
train['preposition'] = train['Text'].map(lambda x: preposition(x))
train.head()

   ArticleId  ...                                        preposition
0       1833  ...  [against, of, as, of, at, in, of, of, of, that...
1        154  ...  [in, of, in, that, in, from, in, in, that, in,...
2       1101  ...  [in, of, in, about, in, about, in, for, before...
3       1976  ...  [out, of, for, in, in, with, than, in, by, in,...
4        917  ...  [in, in, over, of, plaintiff, of, that, of, fr...

[5 rows x 8 columns]

In [ ]:
train['pronoun'] = train['Text'].map(lambda x: pronoun(x))
train.head()

   ArticleId  ...                                            pronoun
0       1833  ...  [their, us, her, who, her, she, he, him, himse...
1        154  ...                             [its, its, we, he, he]
2       1101  ...  [their, their, they, who, it, who, it, their, ...
3       1976  ...  [their, its, their, they, we, their, he, we, t...
4        917  ...  [their, it, it, its, us, its, their, he, who, ...

[5 rows x 9 columns]

In [ ]:
train['verb'] = train['Text'].map(lambda x: verb(x))
train.head()

   ArticleId  ...                                               verb
0       1833  ...  [defending, have, called, cynthia, s, alerted,...
1        154  ...  [fell, knocking, said, fell, found, had, worse...
2       1101  ...  [indicates, surveyed, believe, is, worsening, ...
3       1976  ...  [is, going, help, sell, suggests, keen, get, s...
4        917  ...  [have, agreed, leading, announced, adding, wil...

[5 rows x 10 columns]

In [ ]:
train['adverb'] = train['Text'].map(lambda x: adverb(x))
train.head()

   ArticleId  ...                                             adverb
0       1833  ...  [not, now, not, also, often, only, however, no...
1        154  ...  [s, more, probably, still, particularly, very,...
2       1101  ...  [also, when, almost, mostly, similarly, togeth...
3       1976  ...  [faster, better, alone, not, instead, not, jus...
4        917  ...  [very, partially, personally, hopefully, almos...

[5 rows x 11 columns]

In [ ]:
train['count'] = train.apply(count, axis=1)

In [ ]:
train.head()

   ArticleId  ...                                              count
0       1833  ...  adjective : 28, article: 22, conjuction: 6, no...
1        154  ...  adjective : 43, article: 29, conjuction: 10, n...
2       1101  ...  adjective : 51, article: 57, conjuction: 15, n...
3       1976  ...  adjective : 66, article: 45, conjuction: 14, n...
4        917  ...  adjective : 38, article: 40, conjuction: 7, no...

[5 rows x 12 columns]